<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ofo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8745D6441F0F17CD001C2892</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8745D6581F0F17CD001C2892</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8745D6631F0F17CD001C2892</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
